.hero-section{
    background: url('../assets/bg-hero-about.jpg');
    background-position: center;
    background-size: cover;
}

.quotes-section{
    background: url('../assets/bg-quotes-package.jpg');
    background-position: center;
    background-size: cover;
}

.quotes-content h4{
    font-family: var(--font-yps);
}